.exercise input,
.exercise button {
    font-family: inherit;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.exercise button,
.exercise input[type=submit] {
    background: #dedede;
    padding: 0.25em 0.75em;
    border: 1px solid #c0af00;
    border-color: #b0ab74 #c0af00 #c0af00 #b0ab74;
    background: #c0af00;
    font-weight: 700;
    color: white;

    transition: background-color 0.2s;
    cursor: pointer;
}

.exercise button:hover,
.exercise input[type=submit]:hover,
.exercise button:focus,
.exercise input[type=submit]:focus {
    background: #b0ab74;
}

.exercise {
    padding: 2em;
}

.exercise .field-group {
    margin: 0 0 0.5em;
}

.exercise input[type=text],
.exercise input[type=password] {
    padding: 0.4em;
    border: 1px solid #ccc;
    border-color: #efefef #ccc #ccc #efefef;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 14rem;
    margin-right: 0.5em;
    display: inline-block;
}

.exercise label {
    display: inline-block;
    width: 6rem;
}

.exercise .actions {
    text-align: left;
    padding: 1em 0 0 6rem;
}

/*.exercise input.field--password--reveal {*/
/*    display: none;*/
/*}*/

#frm-signup label {
    width: 10rem;
}

#frm-signup .actions {
    text-align: left;
    padding-left: 10rem;
}
